.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "headerone headertwo"
        "main main"
        "footer footer";
}

.headerone{
    text-align: left;
    grid-area: headerone;
    background-color: #ba5454;
    padding: 10px;
}

.headertwo{
    text-align: right;
    grid-area: headertwo;
    background-color: #322a65;
    padding: 10px;
}

.main{
    height: 100%;
    text-align: center;
    grid-area: main;
    background-color: #087482;
    padding: 10px;
}

.footer{
    grid-area: footer;
    background-color: #16a042;
    padding: 10px;
}